@model HospitalApp.Domain.Model.Client

<h1 class="text-center text-primary mb-4">Edit Client</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" asp-controller="Client" method="post" class="shadow p-4 rounded bg-light">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3">
                    <label asp-for="PersonalNumber" class="form-label text-dark fw-bold"></label>
                    <input asp-for="PersonalNumber" class="form-control border-primary" />
                    <span asp-validation-for="PersonalNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FirstName" class="form-label text-dark fw-bold"></label>
                    <input asp-for="FirstName" class="form-control border-primary" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName" class="form-label text-dark fw-bold"></label>
                    <input asp-for="LastName" class="form-control border-primary" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SurgeryDate" class="form-label text-dark fw-bold"></label>
                    <input asp-for="SurgeryDate" class="form-control border-primary" type="date" />
                    <span asp-validation-for="SurgeryDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="form-label text-dark fw-bold"></label>
                    <input asp-for="PhoneNumber" class="form-control border-primary" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="List" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
